In [1]:
import pandas as pd
df = pd.read_csv('/home/garvit/Datasets/aapl_JUNE_no_date.csv')
df.head(5)

     Open    High     Low   Close    Volume
0  144.45  144.96  143.78  144.02  23024107
1  144.71  145.13  142.28  143.68  31499368
2  144.49  146.11  143.16  145.83  22082432
3  145.01  146.16  143.62  143.73  24761891
4  147.17  148.28  145.38  145.82  25692361

In [4]:
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

## Handling holiday dates with date_range()

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [7]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq=usb)

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')